.bkg { 
       background-color:rgba(86,20,32,0.7);
       padding: 50px;
       margin: 20px;
       border-radius: 30px
}

.reveal li { font-size:1.75em }
.reveal li.credits { font-size:0.75em }

section[data-background] h1,h2,h3 { 
       background-color:rgba(233,233,233,0.7);
       padding: 50px;
       margin: 20px;
       border-radius: 30px
}
